---
layout: default
title: 我的Blog
---

<h2>{{ page.title }}</h2>

<p>最新文章</p>

<div>
    {% for post in site.posts %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.date | date_to_string }}</p>
            <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">查看</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- <ul>

    {% for post in site.posts %}

    <li>{{ post.date | date_to_string }}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>

    {% endfor %}

</ul> -->